.container {
    height: 500px;
    display: flex;
    gap: 25px;
    background-color: bisque;
   place-content: center flex-end;
    align-items: flex-end;
    flex-flow: row wrap;

}

[class ^="box-"] {
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    flex-grow: 1;
    flex-shrink: 3;
}

.box-2 {
    align-self: center;
 flex: 2 1 30em;
}